# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*cache.json

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
composer.lock
*.sublime-workspace
*.swp
*.swo

# Project Specific
node_modules
.env
tmp
*.tmp*
*.log
logs
.changelog
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
build/Release
typings/
.npm
.npmrc
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
lib
build
dist
.cache
.docz
*.rpt2*
*.rts2*
